/* @media only screen and (max-width: 600px) {} */

/* @media only screen and (max-width: 1000px) {} */


body {
    background-color: antiquewhite;
}

#myPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgba(241, 215, 193, 0.897);
}



/* --------------------------------------         -------------------------------------- */

nav {}

header {
    color: black;
    font-family: 'Tangerine', cursive;
    text-shadow: 40px 20px rgba(0, 0, 0, 0.096);
}


h1 {
    font-size: 65px;
    text-align: center;
    
}

#about {}

#liberal {
    display: flex;
    color: black;
    border: 15px solid;
    border-image: url(marble.jpg) 30;
    padding: 20px;
    padding-top: 0px;
    width: 560px;
    height: 547px;
    background-color: blanchedalmond;
    box-shadow: 4px 1px 70px 10px inset rgb(122, 71, 29);
}

#ltitle {}

#an {
    font-size: 30px;
}

h2 {
    font-size: 35px;
}

h3 {}

p {}

b {
    font-size: 17px;
}

i {}

#num {
    font-size: 15px;
}

main {}

article {}

#list {
    color: black;
    border: 15px solid;
    border-image: url(marble.jpg) 30;
    padding: 15px;
    width: 568px;
    background-color: blanchedalmond;
    box-shadow: 4px 1px 70px 10px inset rgb(122, 71, 29);
}

#listCap {
    font-size: 45px;
    text-align: center;
    margin-top: auto;
    padding: 9px;
    font-family: 'Great Vibes', cursive;
}

#why {}

dl {}

dt {
    font-weight: bold;
    font-size: 18px;
}

dd {}

table {}

caption {}

thead {}

tr {}

th {}

tbody {}

td {}

#what {}

aside {}

footer {}

span {}

}