body {
    background-color: bisque;
}

a {
    color:darkmagenta;
    text-decoration: none;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin-right: 6px;
}
a:hover {
    text-decoration: underline;
}

#table1 {
    background-color: bisque;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

#table2 {
    background-color: bisque;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

#title {
    color: tomato;
    font-weight: bolder;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Courgette', cursive;
}

.myTitles {
    color: bisque;
    background-color: darkslategrey;
}

#inner {
    color: bisque;
    background-color: indianred;
    margin: 20px;
    text-align: center;
    font-family: ;
}

#td1, #td2, #td3 {
    color:darkslategrey
}

b {
    color:tomato;
}

i {
    color:darkcyan;
}

header {
    color: blue;
}

h2 {
    color: darkslategray;
}

h3 {
    color:teal;
}

p, span {
    color: darkslategray;
}

header, h2, h3, p, span {
    font-family: 'Courgette', cursive;
}

header, h2 {
    text-align: center;
}

#bottom {
    color:royalblue;
    font-family: 'Times New Roman', Times, serif;
}