/* background color */
* {
    background-color: antiquewhite;
}

/* link decoration edits */
#about {
    text-decoration: none;
    text-align: center;
}
#about:hover {
    text-decoration: underline;
}

#uhc {
    text-decoration: none;
    text-align: center;
}
#uhc:hover {
    text-decoration: underline;
}

#dmh {
    text-decoration: none;
    text-align: center;
}
#dmh:hover {
    text-decoration: underline;
}

#ccc {
    text-decoration: none;
    text-align: center;
}
#ccc:hover {
    text-decoration: underline;
}

/* navbar link edit */
#about {
    position: fixed;
    color:antiquewhite;
    background-color: rgba(114, 82, 39, 0.664);
    width: 100%;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin-right: 6px;
}

/* "read more..." edit */
#uhc, #dmh, #ccc {
    position: absolute;
    color:rgb(224, 235, 235);
    background-color: rgba(44, 20, 9, 0);    
    font-style: italic;
    font-weight: bold;
}

/* image edits */
#img1 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    display: block;
    position: relative;
    left: 40px;
    margin: 10px; 
    top: 60px;
    opacity: 0.7;
}

#img2 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    display: block;
    position: relative;
    left: 33px;
    margin: 10px; 
    top: 100px;
    opacity: 0.7;
}

#img3 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    display: block;
    position: relative;
    left: 33px;
    margin: 10px; 
    top: 10px;
    opacity: 0.7;
}

/* paragraph edits */
#p1 {
    text-align: justify;
    font-size: 20px;
    float: left;
    display: block;
    position: relative;
    bottom: 898px;
    left:500px;
    color: rgb(38, 82, 82);
    height: auto;
    width: auto;

}

#p2 {
    text-align: justify;
    font-size: 20px;
    display:block;
    position: relative;
    bottom: 600px;
    left: 600px;
    color: rgb(38, 82, 82);
    height: px;
    width: auto;
    border: 2px solid black;
}

#p3 {
    text-align: justify;
    font-size: 20px;
    display: block;
    position: relative;
    top: 40px;
    left: 600px;
    color: rgb(38, 82, 82);
    height: auto;
    width: auto;
    border: 2px solid black;
}

/* header edit */
header {
    text-align: center;
    color: rgb(92, 141, 141);
}