/* background color */
body {
    background-color:black;
}

h1 {
    font-family: 'Great Vibes', cursive;

    color: bisque;
    text-align: center;
    font-size: 60px;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid bisque;
    margin-top: 40px;
    width: 40%;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 40%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: large;
}

#myTitles {
    font-family: 'Great Vibes', cursive;
    color: lightsalmon;
    font-size: 30px;
}

#inner {
    color:bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mylink {
    text-decoration: none;
    float: left;
    color:black;
    font-size: 12px;
}
.mylink:hover {
    text-decoration:line-through;
}

tr {
    color: black;
}