/* background color */
body {
    background-color: lightcyan;
}

/* h1 & h2 text color */
h1 {
    color:blue;
}
h2 {
    color:green;
}

/* h1 & h2 font & text location */
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

/* h3 text color & font */
#head3 {
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* bold text color */
b {
    color:lightcoral;
}

/* p1, p2, p3, p4 line-height */
.p1, .p2, .p3, .p4 {
    line-height: 20px;
}

/* p4 margin adjustment */
.p4 {
    margin-bottom: 0px;
}

/* iamage location & margin thickness */
img {
    display: block;
    float:left;
    margin-right: 15px;
}

/* changing ol list into ul */
#list {
    display: inline-block;
    list-style-type: disc;
}

/* "YOU MAY ALSO LIKE" line height & turned Uppercase */
#p5 {
    line-height: 20px;
    text-transform:uppercase;
}

/* link edit: removal of underline & hover underline incorporated */
a {
    text-decoration: none;
    float: left;
    margin: 2px;
}
a:hover {
    text-decoration: underline;
}