/* background color */
* {
    background-color: antiquewhite;
}

/* link decoration edits */
#about {
    text-decoration: none;
    text-align: center;
}
#about:hover {
    text-decoration: underline;
}

#uhc {
    text-decoration: none;
    text-align: center;
}
#uhc:hover {
    text-decoration: underline;
}

#dmh {
    text-decoration: none;
    text-align: center;
}
#dmh:hover {
    text-decoration: underline;
}

#ccc {
    text-decoration: none;
    text-align: center;
}
#ccc:hover {
    text-decoration: underline;
}

/* navbar link edit */
#about {
    position: fixed;
    color:antiquewhite;
    background-color: rgba(114, 82, 39, 0.664);
    width: 100%;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin-right: 6px;
}

/* "read more..." edit */
#uhc, #dmh, #ccc {
    position: absolute;
    color:rgb(224, 235, 235);
    background-color: rgba(44, 20, 9, 0);    
    font-style: italic;
    font-weight: bold;
}

/* image edits */
#img1 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    position: absolute;
    left: 33px;
    margin: 10px; 
    top: 140px;
    opacity: 0.7;
    
}

#img2 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    position: absolute;
    left: 33px;
    margin: 10px; 
    top: 580px;
    opacity: 0.7;
}

#img3 {
    border: 20px solid  rgba(44, 20, 9, 0.507);
    float: left;
    position: absolute;
    left: 33px;
    margin: 10px; 
    top: 1030px;
    opacity: 0.7;
}

/* paragraph edits */
#p1 {
    text-align: center;
    float: right;
    position: absolute;
    top: 150px;
    left: 600px;
    padding: 10px;
    color: rgb(38, 82, 82);
    background-color: rgba(44, 20, 9, 0.274);
    height: auto;
    width: auto;
    border: 2px solid black;
}

#p2 {
    text-align: center;
    float: right;
    position: absolute;
    top: 590px;
    left: 600px;
    padding: 10px;
    color: rgb(38, 82, 82);
    background-color: rgba(44, 20, 9, 0.274);
    height: auto;
    width: auto;
    border: 2px solid black;
}

#p3 {
    text-align: center;
    float: right;
    position: absolute;
    top: 1040px;
    left: 600px;
    padding: 10px;
    color: rgb(38, 82, 82);
    background-color: rgba(44, 20, 9, 0.274);
    height: auto;
    width: auto;
    border: 2px solid black;
}

/* header edit */
header {
    text-align: center;
    color: rgb(92, 141, 141);
}

/* dashed border decoration */
body {
    border: 4px dashed rgba(114, 81, 39, 0.226);
    width: 526px;
    height: 1450px;
}

/* footer edit */
footer {
    position: absolute;
    float: left;
    top: 1350px;
    left: 2000px;
    color:rgb(113, 50, 155);
    font-family: 'Times New Roman', Times, serif;
    border: 4px dashed rgba(114, 81, 39, 0.226);
    padding: 4px;
}