/* Header Section */
header {
    border: 17px solid;
    border-image: url(purple.jpg) 30;
    background-image: url(purple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 33px 83px 60px rgba(0, 0, 0, 0.7);

    text-shadow: 15px 8px rgba(255, 255, 255, 0.349);
    font-family: 'Press Start 2P', cursive;
    text-align: center;

    color: rgb(255, 255, 255); 
    padding: 4%;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
}



/* Body Area */
body {
    background-image: url(keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 33px 83px 60px rgba(0, 0, 0, 0.7);
    
    text-shadow: 1px 2px rgba(0, 0, 0, 0.767);
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(255, 255, 255);

    font-weight: bold;

    padding: 4%;
}



/* Main Section */
main {}

p {}


/* Detailed List */
dl {
    padding: 2%;
}

dt {
    font-weight: bolder;
    color: rgb(230, 209, 250);
    font-size: 30px;
}

dd {
    padding: 1%;
    font-size: 20px;
}



/* the Footer */
footer {
    text-align: center;
    padding: 3%;
    margin: 6%;

    border: 10px solid;
    border-image: url(keys.jpg) 30;
    background-image: url(keys.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 33px 43px 70px rgba(0, 0, 0, 0.7);
}

h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 38px;
}

p {
    font-size: 26px;
}

